<div class="container">
    <div class="navbar">
    <span class="navbar-brand">The One Hat</span>
    <button class="menu-button">
      <i class="pi pi-bars"></i>
    </button>
  </div>
<div class="auth-container">
    
  <h2 class="title">Registro</h2>

  <div class="form-group">
    <label for="fullname">Nombre Completo</label>
    <input
      pInputText
      id="text"
      type="text"
      placeholder="Nombre Completo"
    />
  </div>

  <div class="form-group">
    <label for="email">Correo Electronico</label>
    <input
      pInputText
      id="email"
      type="email"
      placeholder="Correo Electronico"
    />
  </div>

  <div class="form-group">
    <label for="password">Contraseña</label>
    <input
      pInputText
      id="password"
      type="password"
      placeholder="Contraseña"
    />
  </div>

  <div class="form-group">
    <label for="password">Confirmar Contraseña</label>
    <input
      pInputText
      id="password"
      type="password"
      placeholder="Contraseña"
    />
  </div>

<button 
  pButton 
  type="button" 
  label="Registrarse"
  class="btn-ingresar"
  routerLink="/home">
</button>



 
</div>
</div>
